<h1>Add New Recipe</h1>

<%= form_with model: @recipe do |form| %>
    <div>
        <%= form.label :title %>
        <%= form.text_field :title, required: true %>
    </div>
    <div>
        <%= form.label :description %>
        <%= form.text_area :description %>
    </div>
    <%# Time duration %>
    <div>
        <%= form.label :prep_time_minutes, "Preparation Time" %>
        <%= form.select :prep_time_minutes,
        {
            "Under 30 minutes" => 30,
            "Under 1 hour" => 60,
            "1-2 hours" => 120,
            "2+ hours" => 180
        },
        { prompt: "How long?" },
        { required: true } %>
        <%= form.label :cook_time_minutes, "Cooking Time" %>
        <%= form.select :cook_time_minutes,
        {
            "Under 30 minutes" => 30,
            "Under 1 hour" => 60,
            "1-2 hours" => 120,
            "2+ hours" => 180
        },
        { prompt: "How long?" },
        { required: true } %>
    </div>
    <%# TODO: ingredients as autofill via db. TODO create new if not exist %>
    <div>
        <%= form.label :ingredient, "(not yet)Select ingredients and quantity" %>
        <%= form.check_box :ingredient %>
    </div>
    <%# Add Photo, optional. TODO: Backup image %>
    <div>
        <%= form.label :photo %>
        <%= form.file_field :photo, accept: 'image/*' %>
        <small class="form-text text-muted">Select an image file (JPG, PNG, etc.)</small>
    </div>
    <%# Instructions added as steps, saved as array of strings %>
    <div>
        <%= form.label :instructions %>
        <div id="steps-container">
            <%# at least 1 empty step %>
            <% @recipe.instructions ||= [""] %>
            <% @recipe.instructions.each_with_index do |step, index| %>
            <div class="step">
                <%= text_field_tag "recipe[instructions][]", step,
                    placeholder: "Step #{index + 1}"
                %>
            </div>
            <% end %>
        </div>
        <%= button_tag "Add Step", type: "button", onclick: "addStep()" %>
    </div>
    <%# Add recipe notes, optional %>
    <div>
        <%= form.label :notes %>
        <%= form.text_area :notes %>
    </div>
    <%# Visibility, required %>
    <div>
        <%= form.label :private %>
        <%= form.check_box :private %>
    </div>
    <%# Add tags %>
    <div>
        <p>Select at least 1 tag</p>
        <%= form.collection_check_boxes :tag_ids, Tag.order(:name), :id, :name do |b| %>
            <div>
                <%= b.check_box %>
                <%= b.label %>
            </div>
        <% end %>

    </div>
    <div>
        <%= form.submit "Submit Recipe" %>
        <%= link_to "Back to Recipes", recipes_path %>
    </div>
   <% end %>

   <script>
    function addStep() {
        const container = document.getElementById('steps-container');
        const stepCount = container.children.length + 1;
        const newStep = document.createElement('div');
        newStep.classList.add('step')
        newStep.innerHTML = `
            <input type="text"
                name="recipe[instructions][]"
                placeholder="Step ${stepCount}"
                required="required"
                class="step-input" />`;
        container.appendChild(newStep);
    }

    // update hidden field before form submission

</script>
