<h1><%= @recipe.title %></h1>

<div class="recipe-details">
    <p>by: <%= @recipe.user.username %></p>

    <% if @recipe.photo.attached? %>
        <div>
            <%= image_tag @recipe.photo.variant(resize_to_limit: [400, 400]) %>
        </div>
    <% end %>

    <p>Prep Time: <%= @recipe.prep_time_minutes %> minutes</p>
    <p>Cook Time: <%= @recipe.cook_time_minutes %> minutes</p>
    <p>Total Time: <%= @recipe.total_time_minutes %> minutes</p>

<div class="ingredients-section">
    <h3>Ingredients</h3>
    <p>test ingredient</p>
    <ul>
        <% @recipe.ingredient_recipes.each do |ingredient_recipe| %>
        <li>
            <%= ingredient_recipe.amount %> <%= ingredient_recipe.unit %> <%= ingredient_recipe.ingredient.name %>
        </li>
        <% end %>
    </ul>
</div>
<div>
    <h3>Instructions</h3>
    <ol>
        <% @recipe.instructions.each do |step| %>
            <li><%= step %></li>
        <% end %>
    </ol>
</div>

<% if @recipe.notes.present? %>
    <div>
        <h4>Notes:</h4>
        <p><%= @recipe.notes %></p>
    </div>
<% end %>

<%# tags here %>
    <p>Private? <%= @recipe.private %> </p>
</div>

<div>
    <%= link_to "Back", recipes_path %>
</div>
